@model IEnumerable<WeatherForecast>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var weatherForecast in Model)
{
    <div>@weatherForecast.Date</div>
    <div>@weatherForecast.TemperatureC</div>
    <div>@weatherForecast.TemperatureF</div>
    <div>@weatherForecast.Summary</div>
    <hr />
}